.profile-main{
  margin-top: 100px;
}

.profile-info-block{
  height: 400px;
  display: flex;
}

.profile-profile{
  height: 300px;
  width: 300px;
  margin: 10px;
  margin-top: 30px; 
}

.profile-info{
  padding: 30px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-family: monospace;
  font-size: 30px;
}


.profile-overlay-info-profile-div img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 500%;
}


.profile-profile img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-background{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.profile-pic-div{
  margin: 10px;
  flex-grow: 1;
}

.profile-pic-div img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.profile-overlay{
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0%;
/* changing height into 100% */
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  z-index: 1;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.profile-overlay-img-div{
  background-color: white; 
  height: 80%;
  width: 60%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.profile-overlay-img-div img{ 
  max-height: 100%;
  max-width: 100%;
}

.profile-overlay-info-div{
  background-color: white;
  height: 80%;
  width: 500px;
  max-width: 60%;
  overflow-y: scroll;
  font-size: 30px;
}

.profile-overlay-info-content p{
  margin: 10px;
}

.post-block{
  height: 400px;
  margin: 10px;
    display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.post-btn-div{
  width: 300px;
  height: 300px;
  margin: 50px;
    display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  cursor: pointer;
}

.post-block-label{
  cursor: pointer;
}

.post-block img{
  max-width: 30vw;
  max-height: 300px;
  margin: 10px;
}

.post-content-div{
  width: 60vw;
  height: 100%;
  margin: 10px;
  display:         flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 30px;
  flex-grow: 1;
}

.post-content-bar{
  height: 50px;
}

.post-content{
  margin: 0px;
  overflow-y: scroll;
  flex-grow: 1;
  cursor: text;
  word-wrap: break-word;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: rgb(200, 200, 200);
}

.post-submit-block{
  width: 90vw;
  height: 100px;
  margin: auto;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  border-color: pink;
  background-color: pink;
  color: white;
  border-radius: 10px;
  font-size: 50px;
}

.post-submit-block:hover{
  border-color: rgb(253, 171, 185);  
}

.post-submit-block div{
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;

}

.post-content:focus{
  outline: none;
}

.post-btn{
  font-family: monospace;
  font-size: 20px;
}

.post-btn-div input{
  display:none;
  cursor: pointer;
}

.post-block-label input{
  display: none;
  cursor: pointer;
}

.post-btn-div p{
  cursor: pointer;  
}

.post-btn-div:hover {
  background: rgb(253, 171, 185);
  color: white;
  text-decoration: none;
}


/* .profile-pic-div img:hover .profile-overlay {
  height: 100%;
} */

@media (max-width: 800px){
  .profile-main{
    margin-top: 50px;
  }

  .profile-info-block{
    height: 150px;
    display: flex;
  }

  .profile-profile{
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-top: 30px; 
  }
  .post-content-div{
  font-size: 20px;
}

}

@media (max-width: 1300px){
  .profile-overlay{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0%;
  /* changing height into 100% */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .profile-overlay-img-div{
    width: 60%;
    height: fit-content;
  }

  .profile-overlay-img-div img{ 
    width: 100%;
  }

  .profile-overlay-info-div{
    background-color: white;
    height: fit-content;
    width: 100%;
    max-height: 50%;
    padding: 15px;
    font-size: 30px;
  }

  .profile-overlay-info-profile-div{
    max-height: 50px;
    max-width: 50px;
    margin: 10px;
  }
  
  .profile-overlay-info-div{
    font-size: 15px;
  }
}

.profile-overlay-info-profile{
  display: flex;
  justify-content: start;
}

.profile-overlay-info-profile-name{
  margin: auto;
  flex-grow: 1;
}

.profile-overlay-info-profile-div{
  height: 150px;
  width: 150px;
  margin: 10px;
}
